@import "./App.css";
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em calc((100% - var(--container-width-dt)) / 2);
  align-items: center;
  height: var(--navbar-height);
  background-color: var(--orange-color);
  color: white;
}

.logo {
  width: 150px;
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  min-width: 40%;
  align-items: center;
}

a:hover {
  color: black;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

/* * dropdown list for info stroller */
/* Dropdown Button */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover {
  color: black;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: block;
  position: absolute;
  background-color: var(--orange-color);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: calc(var(--navbar-height) - 15px);
  right: 0;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content > * {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content > *:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
  transition: ease-in 3s;
}

/* ************************ */
.strollerinfo,
.findstroller,
.about,
.contact,
.dropbtn,
.login {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
}

.login {
  border: 1px solid black;
  border-radius: 5px;
}

.mobile-menu-icon {
  display: none;
  padding-top: 5px;
}

@media screen and (max-width: 918px) {
  .navbar {
    padding: 2em calc((100% - var(--container-width-mb)) / 2);
  }
  .logo {
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
  }

  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: var(--orange-color);
    left: 0;
    top: 75px;
    transition: all 0.5s ease-in-out;
    width: 100%;
    z-index: 1;
    padding-bottom: 10px;
  }
  .dropdown,
  .dropbtn {
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .dropbtn {
    margin: 0 auto;
  }

  .dropdown-content {
    position: relative;
    background-color: var(--orange-color);
    min-width: 100%;
    box-shadow: none;
    top: 10px;
    z-index: 1;
  }

  .strollerinfo,
  .findstroller,
  .about,
  .contact,
  .login {
    color: white;
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease;
  }

  .login {
    border: none;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: white;
    background-color: var(--orange-color);
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
    cursor: pointer;
  }
}

.avatar {
  width: 50px;
  height: 50px;
}
@media screen and (min-width: 919px) and (max-width: 1080px) {
  .nav-links {
    width: 70%;
  }
  .navbar {
    padding: 2em calc((100% - var(--container-width-dt)) / 2);
  }
  .strollerinfo,
  .findstroller,
  .about,
  .contact,
  .login,
  .dropbtn {
    color: white;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 0.5s ease;
    font-size: 16px;
  }
}
