.primary-button {
  display: block;
  height: 40px;
  border-radius: 10px;
  border-style: none;
  background-color: var(--button-primary-color);
  color: white;
  font-size: 13pt;
  font-weight: 600;
  letter-spacing: 1.8px;
  cursor: pointer;
  font-family: var(--button-font-family);
  margin: 0 auto;
}

.primary-button:hover {
  background-color: var(--button-primary-hover-color);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.primary-button:active {
  background-color: var(--button-primary-active-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.primary-button:disabled {
  background-color: gray;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  cursor: not-allowed;
}
